#starsContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 100;
  pointer-events: none;
}
#starsContainer .star {
	position: absolute;
	background: white;
  opacity: 0.8;
	border-radius: 50%;
	opacity: 0.8;
	animation: twinkle 1s infinite ease-in-out alternate;
  box-shadow: 0 0 5px wheat, 0 0 10px wheat, 0 0 15px wheat, 0 0 20px wheat;
}
@keyframes twinkle {
	0% {
		transform: scale(1);
		opacity: 0.8;
	}
	100% {
		transform: scale(1.5);
		opacity: 1;
	}
}

.today {
  animation: todayCardAnim 1s infinite ease-in-out alternate;
}

.today .dayCard {
  box-shadow: 0 5px 25px 5px black;
}

@keyframes todayCardAnim {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
  }
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(var(--v-theme-primary));
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
body::-webkit-scrollbar-track {
  border-radius: unset;
}